---
layout: default
---

<div class="home">
  <div class="center-text">

    {% for my_page in site.pages %}
      <div class="bottom-three"> 
        {% if my_page.title %}
          {% if my_page.embed %}
            <div class="post-link"> {{ my_page.title }} </div>
            <div class="post-meta" markdown="1"> {{ my_page.content }} </div>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
   
    <div class="bottom-three"> 
      <div class="post-link"> <b>Projects</b> </div>
      {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.project %}
              <div class="post-meta" markdown="1"> <b><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></b> <i> -  {{ my_page.excerpt }}</i> </div>
            {% endif %}
          {% endif %}
      {% endfor %}
  </div> 

    <p>
      <img src="/scroll.png" height="32em" width="32em"> 
      
      <hr style="text-align:center; width:15%"> 
    </p>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <div>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <i><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></i>
          </div>

          <div class="post-meta">
            {{ post.excerpt }}
          </div>
        </li>
      {% endfor %}
    </ul>

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>!-->
  </div>
</div>
