<link rel="stylesheet" href="overlay.css">
<header class="site-header">

  <div class="wrapper">


    <div>
      <a style="display:block" href="{{ site.baseurl }}/">
        <div style = "position: absolute;" class="site-title">{{ site.title }}</div>
      </a>
      <canvas id="myCanvas" width="150" height="60"></canvas>
    </div>


    <script>

      window.requestAnimFrame = (function(callback) {
            return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
            function(callback) {
              window.setTimeout(callback, 1000 / 60);
            };
         })();


      function choosePointOnBox(box) {
        return [(box[2] - box[0]) * Math.random() + box[0], (box[3] - box[1]) * Math.random() + box[1]];
      }

      function distance(pt1, pt2) {
        return Math.sqrt((pt1[0] - pt2[0]) * (pt1[0] - pt2[0]) + (pt1[1] - pt2[1]) * (pt1[1] - pt2[1]))
      }

      particles = []

      var canvas = document.getElementById("myCanvas");
      var context = canvas.getContext("2d");

      box = [12, 12, 138, 48];
      colors = ["#E05067", "#FA8A67", "#9E337E", "#511C7A", "#291559"];
      for (var i = 0; i < 50; i++) {
        pt = choosePointOnBox(box);
        radius = Math.max((6 - distance(pt, [75, 30]) * 0.1), 0)
        particles.push([pt, Math.random() * Math.PI, radius + 8, Math.random() * 0.002 + 0.002])
      }

      var render = function() {
          // Clear the canvas
          context.clearRect(0, 0, canvas.width, canvas.height);

          var i = particles.length;
          while (i--) {
            pt = particles[i][0]
            //console.log(pt)
            currentRadius = particles[i][1]
            maxRadius = particles[i][2]

            particles[i][1] += particles[i][3]
            //console.log(currentRadius);
            if (particles[i][1] >= Math.PI) {
              particles.splice(i, 1);
              pt = choosePointOnBox(box);
              radius = Math.max((6 - distance(pt, [75, 30]) * 0.1), 0)
              particles.push([pt, 0, radius + 8, Math.random() * 0.002 + 0.002])
            }

            context.fillStyle = colors[Math.floor(((pt[0] - box[0]) / box[2]) * colors.length)];
          context.beginPath();
            context.arc(pt[0], pt[1], Math.sin(currentRadius) * maxRadius, 0, 2 * Math.PI);
          context.fill();
          }

          // Redraw
          requestAnimationFrame(render);
      };

      // Start the redrawing process
      render();


    </script>

    <!--<nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>!-->

      <!--<div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> !-->

  </div>

</header>
